Repository IBM-Cloud/cloud-provider-ibm, changes with the owners that CODEOWNERS names for each.
All owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211022
  addons/vpcctl.yml
Owners: @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211022
  addons/vpcctl.yml
Owners: @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211025
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211027
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211028
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211029
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211029
  cmd/ibm-cloud-controller-manager/Dockerfile
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211104
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211109
  cmd/ibm-cloud-controller-manager/Dockerfile
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211110
  docs/examples/ibm-cloud-config.ini
  go.mod
  go.sum
  main.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211112
  ibm/ibm_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211119
  .pre-commit-config.yaml
  .secrets.baseline
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  travis-secret-metadata/ALL_GLOBAL_UPDATE_IKS_PIPELINE_IAM_APIKEY_20211116.yaml
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211119
  .pre-commit-config.yaml
  .secrets.baseline
  .travis.yml
  travis-secret-metadata/ALL_GLOBAL_UPDATE_IKS_PIPELINE_IAM_APIKEY_20211116.yaml
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211120
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211123
  .secrets.baseline
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211130
  .secrets.baseline
  Makefile
  go.mod
  go.sum
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
  ibm/ibm_vpc_loadbalancer.go
  tests/fvt/ibm_loadbalancer.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211201
  .secrets.baseline
  Makefile
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
  ibm/ibm_vpc_loadbalancer.go
  tests/fvt/ibm_loadbalancer.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211201
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211204
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211205
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211209
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211213
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211222
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211223
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20211223
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20211229
  cmd/ibm-cloud-controller-manager/Dockerfile
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220105
  .whitesource
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220121
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220121
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220126
  .secrets.baseline
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220127
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220129
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220130
  ibm/ibm_instances.go
  ibm/ibm_metadata_service.go
  ibm/ibm_metadata_service_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220203
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220205
  renovate.json
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220205
  go.mod
  go.sum
  renovate.json
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220208
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  renovate.json
  scripts/open_depcheck_issue.sh
  scripts/publishTag.sh
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220209
  ibm/ibm_instances.go
  ibm/ibm_instances_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220216
  ibm/ibm_instances.go
  ibm/ibm_instances_test.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220217
  addons/vpcctl.yml
Owners: @behle, @ctrath, @jckasper, @Adam-Mihelcsik

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# owners will be requested for review when someone opens a
# pull request.
* @rtheis @jmcmeek @jonesbr @shalver

# Owners: Documentation and Testing
/docs/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik
/test-fixtures/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik
/tests/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik

# Owners: Load Balancers
/addons/ @behle @ctrath @jckasper @Adam-Mihelcsik
/ibm/*loadbalancer*.go @behle @ctrath @jckasper @Adam-Mihelcsik
