Repository IBM-Cloud/cloud-provider-ibm, changes with the owners that CODEOWNERS names for each.
All owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220217
  .travis.yml
  Makefile
  README.md
  addons/vpcctl.yml
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220219
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  renovate.json
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220219
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  renovate.json
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220219
  renovate.json
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220223
  scripts/travisDeploy.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220301
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220301
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220312
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220317
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220317
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220318
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220319
  .travis.yml
  Makefile
  README.md
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220319
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  go.mod
  go.sum
  ibm/ibm_version.go
  main.go
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220322
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220322
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220322
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220324
  scripts/open_depcheck_issue.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220324
  go.mod
  go.sum
  scripts/open_depcheck_issue.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220324
  .travis.yml
  Makefile
  README.md
  docs/examples/ibm-cloud-controller-manager.yaml
  ibm/ibm_version.go
  main.go
  scripts/open_depcheck_issue.sh
  scripts/publishTag.sh
  vagrant-kube-build/Vagrantfile
  vagrant-kube-build/provisioning/build_docker_registry.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220325
  .secrets.baseline
  go.mod
  go.sum
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
  tests/fvt/ibm_loadbalancer.go
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver, @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220326
  .travis.yml
  Makefile
  scripts/deploy.sh
  scripts/devDeploy.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220326
  .travis.yml
  Makefile
  scripts/deploy.sh
  scripts/devDeploy.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220326
  .travis.yml
  Makefile
  scripts/deploy.sh
  scripts/devDeploy.sh
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220329
  cmd/ibm-cloud-controller-manager/Dockerfile
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220330
  ibm/ibm_loadbalancer.go
  ibm/ibm_loadbalancer_test.go
Owners: @behle, @ctrath, @jckasper, @Adam-Mihelcsik

Automated repo sync 20220331
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

Automated repo sync 20220331
  go.mod
  go.sum
Owners: @rtheis, @jmcmeek, @jonesbr, @shalver

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# owners will be requested for review when someone opens a
# pull request.
* @rtheis @jmcmeek @jonesbr @shalver

# Owners: Documentation and Testing
/docs/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik
/test-fixtures/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik
/tests/ @rtheis @jmcmeek @jonesbr @shalver @behle @ctrath @jckasper @Adam-Mihelcsik

# Owners: Load Balancers
/addons/ @behle @ctrath @jckasper @Adam-Mihelcsik
/ibm/*loadbalancer*.go @behle @ctrath @jckasper @Adam-Mihelcsik
